<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
</head>
<body>

<form action="" method="get">
    <div>
        <label for="id_name">Name </label>
        <input type="text" name="name" id="id_name" required>
    </div>

    <div>
        <label for="{{form.name.id_for_label}}">Name </label>
        {{form.name}}
    </div>

    <div>
        {{form.name.label_tag}}
        {{form.name}}
    </div>
    <br>
    <div>
        Label = {{form.name.label}} <br>
        Value = {{form.name.value}} <br>
        Name = {{form.name.html_name}} <br>
        Help Text = {{form.name.help_text}} <br>
        Required = {{form.name.field.required}} <br>
    </div>
</form>

</body>
</html>