<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Page</h1>
    <table border="1" align="center">
        <tr align="center">
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Stundent Email</th>
            <th>Student Password</th>
        </tr>
    

   
    <tr align="center">
        <td>{{stu.stuid}}</td>
        <td>{{stu.stuname}}</td>
        <td>{{stu.stuemail}}</td>
        <td>{{stu.stupass}}</td>
    </tr>
   

</table>
</body>
</html>